<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Spring Boot Bank Menu</h1>
	<ul>
		<li><a href="/balance">Click here to see the Balance</a></li>
		<li><a href="/transaction">Click here to Check Transaction History</a></li>
		 <li><a href="/deposit">Click here to Deposit</a></li>
		 <li><a href="/withdraw">Click here to Withdraw</a></li>
    </ul>
</body>
</html>

