<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome To Spring Boot Bank </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Please Fill the Form</h1>
    <form action="#" th:action="@{/withdraw}" th:object="${user}" method="post" >
    	<p>Account Number: <input type="text" th:field="*{accountNumber}" name="account"/></p>
    	<p>Action: <input type="text" th:field="*{action}" name="action"/></p>
    	<p>Amount: <input type="text" th:field="*{amount}" name="amount"/></p>
        <p>Reason: <input type="text" th:field="*{reason}" name="reason"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>